body {
  background-color: rgba(205, 240, 234, 0.747);
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  color: rgb(190, 174, 226);
  font-size: 32px;
  line-height: 38px;
  font-weight: 800;
  -webkit-text-stroke: 1px rgba(97, 91, 91, 0.336);
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.096);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
