body {
  background-color: rgb(236, 252, 255);
  font-family: "Josefin Sans", sans-serif;
  background-image: url(umbrellas.jpg);
  background-size: cover;
}

h1 {
  color: rgb(120, 104, 230);
  font-size: 32px;
  line-height: 38px;
  font-weight: 800;
  -webkit-text-stroke: 1px rgba(97, 91, 91, 0.336);
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

hr {
  color: rgb(184, 181, 255);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  background-color: rgba(228, 251, 255, 0.959);
  border: none;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.096);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.units {
  position: static;
  font-size: 16px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.btn-primary {
  margin: 0 6px;
  color: #fff;
  background-color: rgb(120, 104, 230);
  border-color: rgb(120, 104, 230);
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: rgba(121, 104, 230, 0.8);
  border-color: rgba(121, 104, 230, 0.8);
  box-shadow: 0 0 0 4px rgba(121, 104, 230, 0.5);
  outline: 0;
}

.btn-primary:active {
  color: #fff;
  background-color: rgb(121, 104, 230);
  border-color: rgb(121, 104, 230);
  box-shadow: 0 0 0 4px rgba(121, 104, 230, 0.5);
  outline: 0;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 4px rgb(121, 104, 230, 0.5);
}

.btn-success {
  margin: 0 6px 16px 0;
  color: #fff;
  background-color: rgb(100, 201, 207);
  border-color: rgb(100, 201, 207);
}

.btn-success:hover,
.btn-success:focus {
  color: #fff;
  background-color: rgba(100, 202, 207, 0.8);
  border-color: rgba(100, 202, 207, 0.8);
  box-shadow: 0 0 0 4px rgba(100, 202, 207, 0.4);
  outline: 0;
}

.btn-success:active {
  color: #fff;
  background-color: rgba(100, 202, 207);
  border-color: rgba(100, 202, 207);
  box-shadow: 0 0 0 4px rgba(100, 202, 207, 0.6);
  outline: 0;
}

.btn-check:active + .btn-success:focus,
.btn-check:checked + .btn-success:focus,
.btn-success.active:focus,
.btn-success:active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 4px rgba(100, 202, 207, 0.5);
}

.form-control {
  background-color: rgba(237, 238, 247, 0.35);
}

.current-degrees {
  display: flex;
  align-items: flex-start;
}

.weather-forecast {
  margin: 0 auto;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgb(120, 104, 230);
}
.weather-forecast-description {
  font-size: 16px;
  font-style: italic;
  color: rgb(184, 181, 255);
}
.weather-forecast-temperature {
  font-size: 14px;
  color: rgb(120, 104, 230);
}

.weather-forecast-min {
  opacity: 0.6;
}

img {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(129, 129, 129, 0.5));
  filter: drop-shadow(3px 3px 3px rgba(129, 129, 129, 0.5));
}
